# Cache files
data/.obiettivoeuropa_cache.json
data/.filtered_data_all.csv
data/.alldata.json
scraper/.obiettivoeuropa_optimized.log 


# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
